/// Navbar styles///
.navbar{
  background-color: $dol-header-background;
}

.nav-link{
  font-size:1rem;
  color: $white;
  padding-right: 0.2rem !important;
  padding-left: 0.5rem !important;
  font-size: small;
  text-decoration: none;
}

.nav-link {
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  color: $white;
  border-bottom: 2px solid $white;
  border-radius: 0;
}

.navbar-brand {
  color: white;
}

.nav li{
  padding-right:5px;
}
