// Custom varaibles 
$black: #000;
$white: #fff;
$trash-button-color: #981B1E;
$dol-header-background: #990000;
$archive-status-bg-color: #5B616B;
$published-status-bg-color: #2e8540;
$review-status-bg-color: #046B99;
$error-explanation-color: #e31c3d;
$forgot-password-form-bg: #f7f7f7;
$nrl-number-link-color: #205493;
$input-border-color: #3d3d3d;