// Place all the custom styles related to NRL here
// Use only the scss syntax here
body {
  font-size: 1em;
  font-family: Helvetica, sans-serif;
}

.form-signin {
  width: 100%;
  max-width: 400px;
  padding: 15px;
  float: right;
  margin-right: 10%;
  margin-top: 10%;
}
.form-signin .checkbox {
  font-weight: 400;
}
.form-signin .form-control {
  position: relative;
  box-sizing: border-box;
  height: auto;
  padding: 10px;
  font-size: 16px;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

.navbar{
  background-color: #990000;
}

.nav-link{
  font-size:1rem;
  color: #fff;
  padding-right: 0.2rem !important;
  padding-left: 0.5rem !important;
  font-size: small;
  text-decoration: none;
}

.subnavbar{
  background-color: #000000;
}

.navbar-brand {
  color: white;
}


.nav li{
  padding-right:5px;
}

///////////table styles//////////
.table {
  font-size: 0.8em;
}

////////// news form styles /////

.newslog-form{

  label abbr{
    color: red;
    font-weight: bold;
  }

  label {
    font-size: 1.2em;
  }
}

#error_explanation ul{
  color: red;
}

.news-log-status-wrap{
  display: block;
  word-wrap: break-word;
}

//////////////////////////////////////
// Styling for pagination


.pagination a, .pagination span.current, .pagination span.gap {
  float: left;
  padding: 0 14px;
  line-height: 38px;
  text-decoration: none;
  background-color: white;
  border: 1px solid #DDD;
  border-left-width: 0;
}

.pagination {
  border-left: 1px solid #ddd;
  .first{
      padding : 0;
      float: none;
      border: none;
  }
  .prev {
      padding : 0;
      float: none;
      border: none;
  }
  .page{
      padding : 0;
      float: none;
      border: none;
  }
  .next{
      padding : 0;
      float: none;
      border: none;
  }
  .last{
      padding : 0;
      float: none;
      border: none;
  }
}

////////////////////////////////

.btn {
  border-radius: 0;
}
.btn-custom {
  background-color: #000;
  color: #fff;
  margin-top: 2px;
}

.custom-button {
  width: 10em;
}

.fa-edit, .fa-arrow-left {
  color: black;
}

.fa-trash {
  color: red;
}

.fa-edit-disabled, .fa-trash-disabled{
  opacity: 0.3;
}

//////////////login//////////////////

.nav-link {
  border-bottom: 2px solid transparent;
}

.nav-link:hover {
  color: #fff;
  border-bottom: 2px solid #fff;
  border-radius: 0;
}
/////////////// Login Form ///////////////
.login-form {
    max-width: 450px;
    margin-right :50px;
    margin: 0 auto;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;
    float : right
}
.login-submit {
    margin-top: 10px;
    width: 40%;
    margin: 0 auto;
    input {
      background: #990000;
      color:white;
      border-radius: 10px;
    }
    input:hover {
      background: #c1666c;
    }
}

.forgot-password {
    margin: 0 auto;
    background: #f7f7f7;
    box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.3);
    padding: 30px;

}

.email-input {
  input {
    width: 25%;
  }
}

.reset-button {
  input {
    background: #990000;
    border: none;
    line-height: normal;
    padding: 10px;
    border-radius: 5px;
    color: white;
  }
}

.sign-in-button {
  color: #fff;
  background-color: #990000;
}