<h1>Region</h1>
<p>
  <strong>Region Name:</strong>
  <%= @region.name %>
</p>

<p>
  <strong>Region Code:</strong>
  <%= @region.code %>
</p>

<%= link_to 'Back', regions_path, class: 'btn btn-dark btn-sm primary-action-button' %>
<%= link_to 'Edit', edit_region_path(@region), class: 'btn btn-dark btn-sm primary-action-button' %> 
