<body>
<nav class="navbar navbar-expand-lg nav-pills bg-dark">
  <div class="container-fluid">
  <ul class="navbar-nav">
    <div class="col-md-1">
      <li class="nav-item">
        <a class="nav-link" href="#">Add Release Info</a>
      </li>
    </div>
    <div class="col-md-1">
      <li class="nav-item">
        <a class="nav-link" href="#">Find/Edit Release</a>
      </li>
    </div>
    <div class="col-md-1">
      <li class="nav-item">
        <a class="nav-link" href="#">Region</a>
      </li>
    </div>
    <div class="col-md-2">
      <li class="nav-item">
        <a class="nav-link" href="#">Distribution</a>
      </li>
    </div>
    <div class="col-md-4 col-sm-6">
      <form class="navbar-form navbar-left" role="search">
          <div class="form-group">
            <input type="text" class="form-control" placeholder="Search">
          </div>
      </form>
    </div>
    <div class="col-md-1">
        <li class="nav-item">
           <button type="submit" class="btn btn-default">Submit</button>
        </li>
    </div>
  </ul>
  </div>
</nav>
<br>
</body>

